################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/cSharp120126/.vs/cSharp120126.slnx
.vscode
/cSharp120126/cSharp120126/bin/
/cSharp120126/cSharp120126/obj/
